<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{site.title}">Weather-Twin Gateway Admin Console</title>
  <link rel="stylesheet" th:href="@{/css/tailwind.css}">
  <script th:src="@{/js/toast.js}"></script>
  <script th:src="@{/js/theme.js}"></script>
  <script th:src="@{/js/status.js}"></script>
  <script th:src="@{/js/actions.js}"></script>
</head>

<body class="h-screen">
  <div class="toast toast-end z-999"></div>

  <div class="navbar bg-base-100 shadow-lg sticky">
    <div class="flex-1 flex gap-3 justify-start items-center">
      <span class="text-xl font-bold" th:text="#{site.header.title}">Weather-Twin Gateway Admin Console</span>
      <div class="tooltip tooltip-bottom tooltip-status-success hidden"
        th:data-tip="#{site.header.status.success.tooltip}">
        <span class="status status-success cursor-pointer"></span>
      </div>
      <div class="tooltip tooltip-bottom tooltip-status-error hidden" th:data-tip="#{site.header.status.error.tooltip}">
        <span class="status status-error cursor-pointer"></span>
      </div>
    </div>
    <div class="flex-none">
      <label class="swap swap-rotate">
        <input type="checkbox" class="theme-controller" value="dark" />
        <div th:replace="~{fragments/icons :: sun-icon('swap-off w-8 h-8')}"></div>
        <div th:replace="~{fragments/icons :: moon-icon('swap-on w-8 h-8')}"></div>
      </label>
      <div class="dropdown dropdown-end">
        <div tabindex="0" class="btn btn-sm btn-ghost gap-1 px-1.5">
          <th:block th:switch="${#locale.language}">
            <th:block th:case="'es'">
              <div th:replace="~{fragments/flags :: es-flag('w-5 h-5')}"></div>
            </th:block>
            <th:block th:case="'en'">
              <div th:replace="~{fragments/flags :: en-flag('w-5 h-5')}"></div>
            </th:block>
            <th:block th:case="*">
              <div th:replace="~{fragments/flags :: en-flag('w-5 h-5')}"></div>
            </th:block>
          </th:block>
          <div th:replace="~{fragments/icons :: chevron-down-icon('w-5 h-5')}"></div>
        </div>
        <ul tabindex="-1" class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li>
            <a th:href="@{/lang/?lang=es}">
              <div th:replace="~{fragments/flags :: es-flag('w-5 h-5')}"></div>
              <span th:text="#{site.header.lang.es}"></span>
            </a>
          </li>
          <li>
            <a th:href="@{/lang/?lang=en}">
              <div th:replace="~{fragments/flags :: en-flag('w-5 h-5')}"></div>
              <span th:text="#{site.header.lang.en}"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="py-8 px-[10%] overflow-y-auto max-h-[100%]">
    <div class="join join-vertical bg-base-100 w-full">
      <details class="collapse collapse-arrow join-item border-base-300 border" name="sections">
        <summary class="collapse-title font-semibold" th:text="#{site.body.sensor-list.title}"></summary>
        <ul class="collapse-content list bg-base-100 rounded-box shadow-lg sensor-list">
          <li class="flex gap-2 justify-between items-center p-2">
            <span class="p-4 pb-2 text-xs opacity-60 tracking-wide" th:text="#{site.body.sensor-list.top}"></span>
            <div class="tooltip tooltip-bottom" th:data-tip="#{site.body.sensor-list.actions.add}">
              <button type="button" class="btn btn-ghost add-sensor-btn">
                <div th:replace="~{fragments/icons :: plus-icon('w-5 h-5')}"></div>
              </button>
            </div>
          </li>

          <th:block th:each="r, i: ${registrations}">
            <th:block th:replace="~{fragments/components :: sensor-item(${r}, ${i.count})}">
            </th:block>
          </th:block>
        </ul>
      </details>
    </div>
  </div>

  <dialog class="left-[50%] -translate-x-[50%] top-[2.5%] bg-transparent max-h-[95dvh] sensor-form-dialog">
    <th:block th:replace="~{fragments/components :: sensor-form}">
    </th:block>
  </dialog>
</body>

</html>