@import "tailwindcss";
@plugin "daisyui";

@source "../main/resources/templates/**/*.html";
@source "../main/resources/static/js/**/*.js";

:root {
  --color-code-variable: #0047AB;
  --color-code-function: #D100B9;
  --color-code-string: #00A329;
}

body {
  overflow: hidden;
}

[data-theme="dark"] {
  --color-code-variable: #89CFF0;
  --color-code-function: #FF8AF5;
  --color-code-string: #8AFFA7;
}

.code-var {
  color: var(--color-code-variable);
}

.code-func {
  color: var(--color-code-function);
}

.code-string {
  color: var(--color-code-string);
}